body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.chakra-ui-dark {
  background: linear-gradient(#11061e, #130a25);
}
#root {
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://joschkazimdars.com/img/bg1.gif") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}
.background {
  width: 100vw;
}
#magic {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
#magic2 {
  display: none;
}
.playground {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: -100;
}

.wrapper {
  display: block;
  margin: 14vh auto 60px;
  padding: 16px;
  width: 70%;
  min-width: 390px;
  border: 0.125em solid #b47395;
  box-shadow: inset 0 0 0.75em 0 #b47395, 0 0 0.75em 0 #b47395;
  background: rgba(45, 16, 87, 0.75);
}
.about-img {
  border: 2px solid #b47395;
}
.project-name {
  text-align: center;
}
.language {
  position: absolute;
  right: 30px;
  top: 20px;
}
.nav {
  background: rgba(114, 21, 94, 0);
  margin: auto;
  width: fit-content;
  font-size: large;
  font-weight: 800;
}
.nav a {
  padding: 10px;
}

.mirror {
  color: #d1abbf;
}
.mirror-active,
.mirror2 {
  color: #fff;
  text-shadow: 0 0 10px #b47395, 0 0 20px #b47395, 0 0 40px #b47395;
}
.mirror:hover {
  animation: animate1 0.2s linear forwards;
}
.mirror-active:hover {
  animation: animate1 0.2s linear forwards;
}

.ActionScript {
  color: rgb(247, 91, 64);
}
.JavaScript {
  color: #f7e025;
}
.CakePHP,
.PHP {
  color: rgb(136, 136, 206);
}
.Git {
  color: #8957e5;
}
.MySQL {
  color: #f29111;
}
.MathML {
  color: #087ecf;
}
.SVN {
  color: #849fcb;
}
.Maya {
  color: #42b6b9;
}
.JSON {
  color: #578971;
}
.Wordpress {
  color: #d4d4d4;
}
.Firebase,
.Firestore {
  color: #ffc300;
}
.TypeScript {
  color: #087ecf;
}
.React {
  color: #08dcff;
}
.Chakra {
  color: #31c1b5;
}
.Java {
  color: #29c08b;
}
.Joomla {
  color: #5fa72d;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tech-list {
  font-size: 13px;
  cursor: pointer;
}

.joomlaTooltip {
  background-color: rgba(135, 231, 66, 0.45);
  border: 0.125em solid rgb(135, 231, 66);
  box-shadow: inset 0 0 0.75em 0 rgb(135, 231, 66),
    0 0 0.75em 0 rgb(135, 231, 66);
}
.cakephpTooltip {
  background-color: rgba(136, 136, 206, 0.45);
  border: 0.125em solid rgb(136, 136, 206);
  box-shadow: inset 0 0 0.75em 0 rgb(136, 136, 206),
    0 0 0.75em 0 rgb(136, 136, 206);
}
.reactTooltip {
  background-color: rgba(8, 220, 255, 0.45);
  border: 0.125em solid rgb(8, 220, 255);
  box-shadow: inset 0 0 0.75em 0 rgb(8, 220, 255), 0 0 0.75em 0 rgb(8, 220, 255);
}
.typescriptTooltip,
.mathmlTooltip {
  background-color: rgba(8, 126, 207, 0.45);
  border: 0.125em solid rgb(8, 126, 207);
  box-shadow: inset 0 0 0.75em 0 rgb(8, 126, 207), 0 0 0.75em 0 rgb(8, 126, 207);
}
.gitTooltip {
  background-color: rgba(137, 87, 229, 0.45);
  border: 0.125em solid rgb(137, 87, 229);
  box-shadow: inset 0 0 0.75em 0 rgb(137, 87, 229),
    0 0 0.75em 0 rgb(137, 87, 229);
}
.jsTooltip {
  background-color: rgba(247, 224, 37, 0.45);
  border: 0.125em solid rgb(247, 224, 37);
  box-shadow: inset 0 0 0.75em 0 rgb(247, 224, 37),
    0 0 0.75em 0 rgb(247, 224, 37);
}
.mysqlTooltip {
  background-color: rgba(242, 145, 17, 0.45);
  border: 0.125em solid rgb(242, 145, 17);
  box-shadow: inset 0 0 0.75em 0 rgb(242, 145, 17),
    0 0 0.75em 0 rgb(242, 145, 17);
}
.firebaseTooltip,
.firestoreTooltip {
  background-color: rgba(255, 195, 0, 0.45);
  border: 0.125em solid rgb(255, 195, 0);
  box-shadow: inset 0 0 0.75em 0 rgb(255, 195, 0), 0 0 0.75em 0 rgb(255, 195, 0);
}
.chakraTooltip {
  background-color: rgba(49, 193, 181, 0.45);
  border: 0.125em solid rgb(49, 193, 181);
  box-shadow: inset 0 0 0.75em 0 rgb(49, 193, 181),
    0 0 0.75em 0 rgb(49, 193, 181);
}
.wordpressTooltip {
  background-color: rgba(212, 212, 212, 0.45);
  border: 0.125em solid rgb(212, 212, 212);
  box-shadow: inset 0 0 0.75em 0 rgb(212, 212, 212),
    0 0 0.75em 0 rgb(212, 212, 212);
}
.asTooltip {
  background-color: rgba(247, 91, 64, 0.45);
  border: 0.125em solid rgb(247, 91, 64);
  box-shadow: inset 0 0 0.75em 0 rgb(247, 91, 64), 0 0 0.75em 0 rgb(247, 91, 64);
}
.jsonTooltip {
  background-color: rgba(87, 137, 113, 0.45);
  border: 0.125em solid rgb(87, 137, 113);
  box-shadow: inset 0 0 0.75em 0 rgb(87, 137, 113),
    0 0 0.75em 0 rgb(87, 137, 113);
}
.mayaTooltip {
  background-color: rgba(66, 182, 185, 0.45);
  border: 0.125em solid rgb(66, 182, 185);
  box-shadow: inset 0 0 0.75em 0 rgb(66, 182, 185),
    0 0 0.75em 0 rgb(66, 182, 185);
}
.javaTooltip {
  background-color: rgba(41, 192, 139, 0.45);
  border: 0.125em solid rgb(41, 192, 139);
  box-shadow: inset 0 0 0.75em 0 rgb(41, 192, 139),
    0 0 0.75em 0 rgb(41, 192, 139);
}
.svnTooltip {
  background-color: rgba(132, 159, 203, 0.45);
  border: 0.125em solid rgb(132, 159, 203);
  box-shadow: inset 0 0 0.75em 0 rgb(132, 159, 203),
    0 0 0.75em 0 rgb(132, 159, 203);
}
.phpTooltip {
  background-color: rgba(136, 136, 206, 0.45);
  border: 0.125em solid rgb(136, 136, 206);
  box-shadow: inset 0 0 0.75em 0 rgb(136, 136, 206),
    0 0 0.75em 0 rgb(136, 136, 206);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 450px;
  text-align: left;
  padding: 10px;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -152px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext2 {
  visibility: hidden;
  width: 450px;
  text-align: left;
  padding: 10px;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 61px;
  left: -117px;
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: none;
  font-size: 13px;
}

.tooltip:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
}

.tsumegoHeroTooltip {
  background-color: rgba(137, 96, 155, 0.65);
  border: 2px solid rgb(103, 199, 119);
  color: #fff !important;
}
.trailers4uTooltip {
  background-color: rgba(26, 45, 104, 0.9);
  border: 2px solid #a372a1;
  color: #dad5d9 !important;
  box-shadow: inset 0 0 0.75em 0 #a64fad, 0 0 0.75em 0 #a64fad;
}
.goInBremenTooltip {
  background-color: rgba(21, 19, 18, 0.65);
  border: 2px solid #fdb962;
  color: #fff !important;
}
.petersenHardrahtPruggmayerTooltip {
  background-color: rgba(86, 75, 85, 0.8);
  border: 2px solid #66b2e0;
  color: #fff !important;
}
.airliftTooltip {
  background-color: rgba(87, 160, 199, 0.65);
  border: 2px solid #d4edfc;
  color: #fff !important;
}
.cityDatingTooltip {
  background-color: rgba(83, 28, 28, 0.65);
  border: 2px solid #f1c73d;
  color: #f5c833 !important;
}
.betavilleNyTooltip {
  background-color: rgba(56, 56, 56, 0.65);
  border: 2px solid #72b31e;
  color: #e4dbb7 !important;
}
.betavilleBremenTooltip {
  background-color: rgba(74, 124, 61, 0.8);
  border: 2px solid #f5f6e2;
  color: #fff !important;
}
.staikerEquityTooltip {
  background-color: rgba(0, 0, 0, 0.65);
  border: 2px solid #fff;
  color: #fff !important;
}
.staikerReviewTooltip {
  background-color: rgba(0, 0, 0, 0.65);
  border: 2px solid #fff;
  color: #fff !important;
}

.flag {
  cursor: pointer;
}

.image-gallery {
  width: 80%;
  margin-bottom: auto;
}
.gallery-container {
  max-width: 670px;
}
.footer1 {
  color: #725767;
  font-size: 15px;
}
.footer2 {
  text-align: center;
  margin: 12px;
}

.project-box {
  background-image: url("https://joschkazimdars.com/img/glass4.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.project-box:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  animation: animate1 0.2s linear forwards;
}
.chakra-text {
  text-shadow: none;
}
@keyframes animate1 {
  0% {
    color: #fff;
    text-shadow: 0 0 10px #b47395;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px #b47395, 0 0 20px #b47395, 0 0 40px #b47395;
  }
}

@media screen and (max-width: 900px) {
  #magic {
    display: none;
  }
  #magic2 {
    display: block;
    position: fixed;
    width: 100%;
    z-index: -10;
    opacity: 0.6;
    left: 31%;
    margin-top: 50px;
    font-weight: bold;
  }
}
@media screen and (max-width: 500px) {
  #magic2 {
    left: 22%;
  }
  .gallery-container {
    width: 350px;
  }
}
